/.quarto/
/_site/
.Rproj.user
.DS_Store
.DS_Store
_freeze/.DS_Store
_freeze/posts/.DS_Store
_freeze/site_libs/.DS_Store
posts/.DS_Store
renv/.DS_Store
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rhistory
