<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="/images/vbaliga-labroides.jpg" style="width:230px; height:180px" title="vbaliga-labroides" alt="vbaliga.github.io" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <p> Although I like using squarespace for my main site, I'm not a fan of how squarespace formats code. Posts with code, made via the magic of <a href="https://rmarkdown.rstudio.com/">R Markdown</a>, will live here. </p>
        <hr size=1>
        
        <form method="get" action="http://www.google.com/search" target="_blank">
          <input type="hidden" name="sitesearch" value="vbaliga.github.io" />
          <input type="text" name="q" maxlength="255" placeholder="Search all posts" />
        </form>
        
        <br>
        
        <h3><a href={{"/archive/archive"}}>Archive</h3>
        {% include alltags.html %}
                
        <br>
        <br>
        
        <a href="https://vbaliga.github.io/feed.xml" target="_blank">RSS feed</a>
        
        <br>
        <br>
        <hr size=1>
        <br>
                
        <p class="view"><a href="https://www.vikram-baliga.com/"><img src="/images/vb32.png" style="width:20px; height:20px" title="vikram-baliga.com" alt="vikram-baliga.com"></a><a href="https://www.vikram-baliga.com/">&nbsp;back to vikram-baliga.com</a></p>
        
        <p class="view"><a href="https://github.com/vbaliga"><img src="/images/GitHub-Mark-64px.png" style="width:20px; height:20px" title="github.com/vbaliga" alt="github.com/vbaliga"><a href="{{ site.github.owner_url }}">&nbsp;my GitHub profile</a></p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p style="margin: 0; padding-top:0;"><small>Hosted on GitHub Pages &mdash; Theme modified from "Minimal" by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <p style="margin: 0; padding-top:0;"><small>Content: Copyright © 2019 Vikram B. Baliga</small></p>
        <p style="margin: 0; padding-top:0;"><small>All images by V.B.B. unless otherwise noted.</small></p>
    
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
