---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div class="tagzz">#tags: 
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code class="highligher-rouge" font-weight=400><nobr>#{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
  </div>
  
  <br>

  <div class="entry">
    {{ content }}
  </div>
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }} by Vikram B. Baliga (<a href="https://github.com/vbaliga">vbaliga</a>).  
  </div>

  {% include disqus.html %}
</article>
